@-webkit-keyframes expand { to { -webkit-transform: height:100%; } }
@-moz-keyframes expand { to { transform: height:100%; } }
@keyframes expand { to { transform: height:100%; } }

@-webkit-keyframes spinWheel0 { to   { -webkit-transform: rotateY(-72deg); }}
@-webkit-keyframes spinWheel1 { to   { -webkit-transform: rotateY(-144deg); }}
@-webkit-keyframes spinWheel2 { to   { -webkit-transform: rotateY(-216deg); }}
@-webkit-keyframes spinWheel3 { to   { -webkit-transform: rotateY(-288deg); }}
@-webkit-keyframes spinWheel4 { to   { -webkit-transform: rotateY(-360deg); }}
@-moz-keyframes spinWheel0 { to   { -webkit-transform: rotateY(-72deg); }}
@-moz-keyframes spinWheel1 { to   { -webkit-transform: rotateY(-144deg); }}
@-moz-keyframes spinWheel2 { to   { -webkit-transform: rotateY(-216deg); }}
@-moz-keyframes spinWheel3 { to   { -webkit-transform: rotateY(-288deg); }}
@-moz-keyframes spinWheel4 { to   { -webkit-transform: rotateY(-360deg); }}
@keyframes spinWheel0 { to   { -webkit-transform: rotateY(-72deg); }}
@keyframes spinWheel1 { to   { -webkit-transform: rotateY(-144deg); }}
@keyframes spinWheel2 { to   { -webkit-transform: rotateY(-216deg); }}
@keyframes spinWheel3 { to   { -webkit-transform: rotateY(-288deg); }}
@keyframes spinWheel4 { to   { -webkit-transform: rotateY(-360deg); }}

#covercontainer { height:100px; width:100px; float:left; margin-left:25px; -webkit-perspective:500; 
	-webkit-perspective-origin:center center;  -moz-perspective:500; -moz-perspective-origin:center center; 
	perspective:500; perspective-origin:center center;}

.coverwheelstage { -webkit-transform-style:preserve-3d; -webkit-transform:translateZ(-85px); 
	-moz-transform-style:preserve-3d; -moz-transform:translateZ(-85px);
	transform-style:preserve-3d; transform:translateZ(-85px); }
.coverwheel { position:absolute; top:0; width:100%; height:100px; -webkit-transform-style:preserve-3d; 
	-moz-transform-style:preserve-3d; transform-style:preserve-3d; }
.coverwheel.state0.roll { -webkit-animation:spinWheel0 1s; -webkit-animation-fill-mode:forwards;
	-moz-animation:spinWheel0 1s; -moz-animation-fill-mode:forwards;
	animation:spinWheel0 1s; animation-fill-mode:forwards; }
.coverwheel.state1.roll { -webkit-animation:spinWheel1 1s; -webkit-animation-fill-mode:forwards;
	-moz-animation:spinWheel1 1s; -moz-animation-fill-mode:forwards;
	animation:spinWheel1 1s; animation-fill-mode:forwards; }
.coverwheel.state2.roll { -webkit-animation:spinWheel2 1s; -webkit-animation-fill-mode:forwards;
	-moz-animation:spinWheel2 1s; -moz-animation-fill-mode:forwards;
	animation:spinWheel2 1s; animation-fill-mode:forwards; }
.coverwheel.state3.roll { -webkit-animation:spinWheel3 1s; -webkit-animation-fill-mode:forwards;
	-moz-animation:spinWheel3 1s; -moz-animation-fill-mode:forwards;
	animation:spinWheel3 1s; animation-fill-mode:forwards; }
.coverwheel.state4.roll { -webkit-animation:spinWheel4 1s; -webkit-animation-fill-mode:forwards;
	-moz-animation:spinWheel4 1s; -moz-animation-fill-mode:forwards;
	animation:spinWheel4 1s; animation-fill-mode:forwards; }
.coverwheel.state0 { -webkit-transform:rotateY(0deg); -moz-transform:rotateY(0deg); transform:rotateY(0deg); }
.coverwheel.state1 { -webkit-transform:rotateY(-72deg); -moz-transform:rotateY(-72deg); transform:rotateY(-72deg); }
.coverwheel.state2 { -webkit-transform:rotateY(-144deg); -moz-transform:rotateY(-144deg); transform:rotateY(-144deg); }
.coverwheel.state3 { -webkit-transform:rotateY(-216deg); -moz-transform:rotateY(-216deg); transform:rotateY(-216deg); }
.coverwheel.state4 { -webkit-transform:rotateY(-288deg); -moz-transform:rotateY(-288deg); transform:rotateY(-288deg); }
.coverwheel img { width:100px; position:absolute; -webkit-backface-visibility:hidden; -moz-backface-visibility:hidden; backface-visibility:hidden; }
.coverwheel img:nth-child(1) { -webkit-transform:rotateY(-144deg) translateZ(69px); -moz-transform:rotateY(-144deg) translateZ(69px); transform:rotateY(-144deg) translateZ(69px); }
.coverwheel img:nth-child(2) { -webkit-transform:rotateY(-72deg) translateZ(69px); -moz-transform:rotateY(-72deg) translateZ(69px); transform:rotateY(-72deg) translateZ(69px); }
.coverwheel img:nth-child(3) { -webkit-transform:rotateY(0) translateZ(69px); -moz-transform:rotateY(0) translateZ(69px); transform:rotateY(0) translateZ(69px); }
.coverwheel img:nth-child(4) { -webkit-transform:rotateY(72deg) translateZ(69px); -moz-transform:rotateY(72deg) translateZ(69px); transform:rotateY(72deg) translateZ(69px); }
.coverwheel img:nth-child(5) { -webkit-transform:rotateY(144deg) translateZ(69px); -moz-transform:rotateY(72deg) translateZ(69px); transform:rotateY(72deg) translateZ(69px); }
