@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg);   opacity: 0.8; }
  50%  { -webkit-transform: rotate(180deg); opacity: 1.0; }
  to   { -webkit-transform: rotate(360deg); opacity: 0.8; }
}
@-moz-keyframes spin {
  from { transform: rotate(0deg);   opacity: 0.8; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  to   { transform: rotate(360deg); opacity: 0.8; }
}
@keyframes spin {
  from { transform: rotate(0deg);   opacity: 0.8; }
  50%  { transform: rotate(180deg); opacity: 1.0; }
  to   { transform: rotate(360deg); opacity: 0.8; }
}

.ajaxloader { -webkit-animation: spin 2s linear infinite; -moz-animation: spin 2s linear infinite; animation: spin 2s linear infinite; 
    width: 100px; height:100px; background:#FFF; margin:30px auto; border: 30px solid #000; 
    border-right-color: transparent; border-radius: 50%; box-shadow: 0 0 100px 2px #333; }

.jp-tabsOuterContainer { -webkit-user-select:text; -moz-user-select:text; user-select:text;
    max-height:100%; border-radius: 0; padding:0; border-bottom: 0; border-top: 0; 
    border-right: 0; background:transparent; max-width: 600px; overflow-y:auto; overflow-x:hidden; 
    -webkit-transition:max-width 0.3s; -moz-transition:max-width 0.3s;
    -o-transition:max-width 0.3s; transition:max-width 0.3s;
}
.jp-tabsOuterContainer.vertical { padding-left: 36px; margin-left: -36px; }
.jp-tabsOuterContainer.horizontal { border-left: 2px ridge #FFF; }

.jp-tabsContainer {
    background: #FFF; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    border-radius: 0px;
}
.jp-tabsContainerOuter {}
.jp-tabsOuterContainer.vertical .jp-tabsContainerOuter {
    -webkit-transform-origin:0 0;
    -webkit-transform:rotateZ(-90deg) translateX(-100%) translateY(-100%);
    transform-origin:0 0;
    transform:rotateZ(-90deg) translateX(-100%) translateY(-100%);
}
.jp-tabsOuterContainer.vertical .jp-tabsContainer { float:right; }
.jp-tabsContainer {
    background: #FFF; 
    border: 1px solid #C0C0C0; 
    border-right:0;
}
.jp-tabsContentContainer {
    padding-top:5px;
}
.jp-tab {
    padding:10px;
    border: 1px solid black;
    float:left;
    cursor:pointer;
    background: transparent; 
    border: none; 
    border-radius: 0;
    border-right: 1px solid #c0c0c0;
    margin-right: 0;
    -webkit-user-select:none; 
    -moz-user-select:-moz-none;
    user-select:none;
    font-weight:bold;
}
.jp-activeTab {
    background: url(uitabsarrow.png) no-repeat bottom center, -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 100%); 
    background: url(uitabsarrow.png) no-repeat bottom center, -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 100%); 
    background: url(uitabsarrow.png) no-repeat bottom center, -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 100%);  
    background: url(uitabsarrow.png) no-repeat bottom center, linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(235, 235, 235, 1) 50%, rgba(255, 255, 255, 1) 100%); 
    border: none; 
    border-right: 1px solid #c0c0c0;
    margin-right: 0;
    box-shadow: 1px 1px 3px #000 inset;
}
.jp-tabsOuterContainer.vertical .jp-activeTab {
    box-shadow: -1px 1px 3px #000 inset;
}
.jp-inactiveTab {
    color:#C0C0C0;
}
.jp-tabContent {
    padding:0 10px;
}
.jp-tabsOuterContainer.vertical .jp-tabContent {
    margin-top: -32px;
}
.jp-visibleTabContent {
    display:block;
}
.jp-hiddenTabContent {
    display: none;
}
.jp-tabsOuterContainer.hidden {
    max-width:0;
}
.jp-tabContent a.tabcontent img {
    width:100px;
    float:left;
    margin-right:4px;
    margin-bottom:4px;
}
.jp-tabContent .addsetlistbutton {
    clear:both;
    margin-top:20px;
    margin-left:0;
    outline-style:none;
}